@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #23222259;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d5d5d5df;
  }
  .heroBackgroundImage {
    background-image: url(../public/Images/heroBackground.png);
    width: 100%;
    height: 1088px;
    left: -2px;
    top: 0px;
    opacity: 0.35;
    background-size: cover;
  }

  .matrixBackImage {
    background-image: url(../public/Images/Ornament69@2x.png);
    width: 250px;
    height: 383px;
    left: 0px;
    top: 383px;
    opacity: 0.4;
    filter: blur(1px);
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
  }

  .heroTitle {
    font-weight: 700;
    /* font-size: 140px; */
    /* line-height: 169px; */
    color: #0a142f;
    /* width: 804px;
    height: 337px; */
  }

  .bigImage {
    width: 549.17px;
    height: 559.98px;
  }

  .heroTextButton p {
    /* width: 450px; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    opacity: 0.8;
  }

  .heroButton {
    padding: 16px 24px;
    width: 293px;
    height: 60px;
    background: #ffc93e;
    border-radius: 30px;
    margin-top: 26px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #0a142f;
  }

  /* .heroSmallImage{
    top: 0;
  } */
  .heroSmallImage .smallImage {
    width: 329.01px;
    height: 419.11px;
  }

  .scrollDown {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #0a142f;

    transform: rotate(-90deg);
  }

  .smallMobileImage {
    width: 157px;
    height: 200px;
  }

  .mobileOrnament {
    width: 103.6px;
    height: 100px;
  }

  .eventScheduleSection h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    color: #0a142f;
  }

  .eventScheduleDesc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    color: rgba(10, 20, 47, 0.8);

    opacity: 0.8;
  }

  .tableTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #0a142f;
  }
  .smallDate {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #0a142f;
  }
  .yellowBox {
    width: 162.52px;
    height: 110px;
  }
  .yellowBox h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #725114;
  }

  .yellowBox h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #8b6f3b;
  }

  .blueBox {
    width: 162.52px;
    height: 110px;
  }
  .blueBox h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #111d5e;
  }

  .blueBox h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #27326d;
  }
}

@layer components {
  .basicContainer {
    @apply lg:w-8/12 w-10/12 mx-auto;
  }
}
